body {
    color: #4C585B;
    display: flex;
    padding :30px;
    background-color: #F4EDD3;
    line-height: 1.5;
    min-height: 80vh;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    
}

.regpage {
    width: 500px;
    margin:auto;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 0 20px #4C585B;
    padding: 10px 20px;
    background-color: #A5BFCC;

}

h2 {
    font-size: 40px;
}

label{
    display: block;
    font-size: large;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
}

input{
    display: block;
    width: 100%;
    padding:8px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    font-size: 25px;
    padding : 10px 60px;
    border-radius: 20px;
    border : 0px;
    color: #4C585B;
    background-color: #b6d0d9;
    cursor: pointer;
}